{% extends "::base.html.twig" %}

{% block title %}SanbricMainBundle:Empresa:AgregarDatosEmpresa{% endblock %}

{% block body %}
<h1>Welcome to the Empresa:AgregarDatosEmpresa page</h1>
{% endblock %}
