{% extends "::base.html.twig" %}

{% block title %}SanbricMainBundle:Empresa:ObtenerDatosEmpresa{% endblock %}

{% block body %}
<h1>Welcome to the Empresa:ObtenerDatosEmpresa page</h1>
{% endblock %}
